
h1{
    color: rgb(206, 12, 28);
}
.cmt_text{
  width: 90%;
  height: 60px;
  border: none;
  border-bottom: 1px solid rgb(26, 23, 23);
}
.radio{
  float:left;
}
.button{
  height: 40px;
  width: 100px;
  border: none;
  background-color: rgb(228, 230, 235);
  border-radius: 10px;
}
.button:hover{
  background-color: #f3bbbf;
}
.element_bl{
  width: 100%;
}
#container_cmt{
  overflow: hidden;
  background-color: #faf9f8;
  margin : 30px 200px 30px 200px;
  padding: 100px;;
}

